// main.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Main Page
    link(rel="stylesheet", href="main-styles.css") // Link to your main CSS file

  body
    include index // Include index.pug content
